:root {
    --background: #191d1e;
    --color: #FAFAFA;
}

.center {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.panel {
    justify-content: center;
    justify-content:center;
    display:flex;
}

.box {
    border-radius: 15px;
    background-color: rgba(255,255,255,.8);
    border-color: #fff;
    box-shadow:0 30px 60px rgba(0,0,0,.4);
    width: 70%;
    text-align: center;
    transition: transform .2s;
    position: relative;
}

.box > .panel-heading {
    background: #fff; 
    color: #000;
    border-color: #fff;
}

canvas {
    filter: blur(5px);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
  }

.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    filter: blur(.3px);
}

.content {
    border: 1px solid black;
    padding: 10px;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
/*    display: none;*/
    width: auto;
    white-space: pre-wrap; /* Ensure that the content wraps */
    max-width: 100%; /* You can adjust this value as per your requirement */
    font-size: 13px !important;
}

.hoverElement span:hover + .content {
    display: block;
    z-index: 2;
}

/*.hoverElement:hover .content,
.content:hover {
    display: block;
}*/

/*.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}*/